<div class="notifications">
  <div *ngFor="let noti of Notifications">
    <app-notification *ngIf="noti" [data]="noti"></app-notification>
  </div>
</div>

<div class="container">
  <div class="nowtime">{{ nowTime }}</div>

  <div class="days hide">
    <h1 (click)="SelectDay('ponedeljak')">PONEDELJAK</h1>
    <h1 (click)="SelectDay('utorak')">UTORAK</h1>
    <h1 (click)="SelectDay('sreda')">SREDA</h1>
    <h1 (click)="SelectDay('cetvrtak')">CETVRTAK</h1>
    <h1 (click)="SelectDay('petak')">PETAK</h1>
  </div>

  <div class="inputindex">
    <h1>Unesite indeks:</h1>
    <input type="number" />
    <input type="button" value="Uloguj se" (click)="login($event)" />
  </div>

  <div class="schedule"></div>

  <div class="loading hide">
    <img src="../assets/images/loading.gif" alt="" />
  </div>
</div>
